$formLableWidth: 120px;
$fontFamily: "Helvetica", "Microsoft YaHei", \5fae\8f6f\96c5\9ed1;
$fontColor:#5F5F5F;
$gridHeadColor:#F9F9F9;
$backgroundColor: #f6f6f6;
$bodyBackGround:$backgroundColor;
$borderColor:#E6E6E6;
$titlePadding: 15px;
$formTitleFontSize: 26px;
$formTitleColor: #666;
$tableBorder: 1px solid $borderColor;
$superQueryItemHeight: 45px;
$superQueryItemLineHeight: 44px;
$sectionShadow:3px;
$formBorder:#DCDFE6;
$formErrorColor:#f56c6c;
$fouceBorderColor: #c9c9c9;